@import "../../variables.scss";

$button-colour: lighten($primary-colour, 30%);

.Submit {
	width: 60%;
	margin: auto;
	color: $button-colour;
	border-color: $button-colour;

	transition: 0.3s;

	&:hover {
		color: white;
		border-color: white;
		background-color: $button-colour;
		transition: 0.3s;
	}

	@media screen and (max-width: 700px) {
		width: 100%;
	}
}