@import "../../../variables.scss";
@import "../../common.scss";

.DataList {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;

	@media screen and (max-width: $min-width-expand) {
		width: 100%;
	}
}

.PlanetList {
	list-style: none;
	padding: 0;

	.PlanetLink {
		color: lighten($primary-colour, 40%);

		&:hover {
			text-decoration: underline;
		}
	}
}