@import "../../variables.scss";

$default-link-weight: 400;
$hovered-link-weight: 700;

.Navbar {
	background-color: $primary-colour;
	
	.Brand {
		color: white;
	}

	.Toggle {
		background-color: white;
		border-color: white;
	}

	.Link {
		color: white;
		font-weight: $default-link-weight;
		text-decoration: none;
		padding: 0 10px;

		&:hover {
			font-weight: $hovered-link-weight;
		}
	}
}