@import "../../variables.scss";

$button-colour: lighten($primary-colour, 30%);

.Submit {
	width: 60%;
	margin: auto;
	
	color: $button-colour;
	border-color: $button-colour;

	transition: 0.3s;

	&:hover {
		color: white;
		border-color: white;
		background-color: $button-colour;
		transition: 0.3s;
	}

	@media screen and (max-width: $min-width-expand) {
		width: 100%;
	}
}

.ReturnButton {
	background-color: $primary-colour;
	border-color: white;
	padding: 10px 20px;
	border-radius: 10px;

	&:hover {
		background-color: lighten($primary-colour, 10%);
		border-color: white;
	}
}